* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #5166c1, #b944c8);
  min-height: 100vh;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background: rgba(110, 98, 98, 0.1);
  backdrop-filter: blur(15px);
}


.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(237, 226, 226);
  padding: 10px 18px;
  border-radius: 25px;
  transition: 0.3s;
}


.navbar a.active {
  background: rgb(244, 238, 238);
  color: #764ba2;
}


.navbar a:hover {
  background: rgba(255,255,255,0.2);
}

.page {
  text-align: center;
  margin-top: 50px;
}

.sub-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

  .sub-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  background: rgba(255,255,255,0.1);
}


.sub-nav a.active {
  background: white;
  color: #764ba2;
}


.service-box {
  margin-top: 30px;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: rgba(65, 63, 63, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}