* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #4360e1, #76e0e2);
  color: rgb(5, 4, 4);
}


h1 {
  margin-bottom: 20px;
}


.chat-container {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}


.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}


.message {
  align-self: flex-end;
  background: #b5b7b8;
  padding: 10px 15px;
  border-radius: 15px;
   max-width: 70%;
  word-wrap: break-word;
}


.input-area {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.2);
}


input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #48ee88, #708addd3);
  color: rgb(14, 14, 14);
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}