* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient( 100deg,#a0ace0,#e6cd88);
  min-height: 100vh;
  padding: 30px;
}
.container {
  width: 95%;
  max-width: 1100px;
  margin: auto;
}
h2 {
  text-align: center;
  font-weight: 1000;
  color: rgb(6, 5, 5);
  margin-bottom: 20px;
  font-size: 32px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

th {
  background: #decc8a;
  color: rgb(10, 10, 10);
  padding: 15px;
  font-size: 16px;
}

td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f3f4f6;
}

tr:hover {
  background: #ddd6fe;
  transition: 0.3s;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #6481e8;
}

button {
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(14, 14, 14);
  font-weight: bold;
  transition: 0.3s;
}

td button {
  background: #797776;
}

td button:hover {
  background: #e9af5e;
}

@media (max-width: 768px) {
  table {
    font-size: 14px;
  }
  input {
    width: 100%;
  }
  button {
    margin: 3px;
    padding: 6px 10px;
  }
}